.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.5rem);
  font-family: "IBMPlexSansArabic-SemiBold";
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-inline-start: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  font-family: "IBMPlexSansArabic-SemiBold";
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: black;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: space-between;
  }
}
